<?php

	$bg_color = '#111111';
	$layer_color = 'rgba(255,255,255,0.1)';
	$layer_color_hl = 'rgba(255,255,255,0.2)';
	$text_color = '#aaaaaa';
	$highlight = 'rgba(20,160,255,0.5)';
	$interact_bg = '#3388cc;';
	$interact_color = '#fff;';
	$border = '1px solid rgba(150,150,150,0.3)';

?>

@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-regular.ttf);
}
@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-bold-italic.ttf);
	font-weight: bold;
	font-style: italic;
}
* {
	font-family: default_font;
	font-size: 11pt;
	box-sizing: inherit;
	line-height: inherit;
}
body {
	margin: 0px;
	padding: 0px;
	line-height: 1.0;
	box-sizing: border-box;
	background: <?= $bg_color ?>;
	color: <?= $text_color ?>;
}
a {
	color: white;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 12px;
	margin-right: 12px;
}
nav > a {
	padding: 16px;
	display: inline-block;
	background: <?= $layer_color ?>;
	margin-right: 2px;
	color: <?= $text_color ?>;
	text-decoration: none;
}
nav > a:hover {
	background: <?= $layer_color_hl ?>;
}
#content {
	line-height: 1.8;
	margin-top: 60px;
	min-height: 480px;
}
#content > a {
	color: blue;
}
footer {
	text-align: center;
	color: rgba(255,255,255,0.25);
	margin-top: 32px;
}
h1 {
	margin: 12px;
	padding: 12px;
	padding-top: 18px;
	font-weight: normal;
	line-height: normal;
	background: <?= $layer_color ?>;
}

#content > div, .block {
	background: <?= $layer_color ?>;
	margin: 12px;
	padding: 12px;
}

form > div {
	display: flex;
	margin-bottom: 2px;
}

form > div > label {
	flex: 1;
	background: rgba(0,0,0,0.1);
	max-width: 160px;
	padding: 8px;
}

form > div > div, form > div > input {
	flex: 2;
	padding: 3px;
}

form > div > input {
	border: <?= $border ?>;
	background: none;
	padding: 8px;
	color: <?= $text_color ?>;
	background: rgba(0,0,0,0.25);
}

form > div > input:focus {
	outline: 1px solid <?= $interact_bg ?>;
	color: <?= $interact_bg ?>;
	background: rgba(0,0,0,0.5);
}

button, .btn, form > div > input[type=submit] {
	margin: 0;
	padding: 12px;
	text-decoration: none;
	background: <?= $interact_bg ?>;
	color: <?= $interact_color ?>;
	display: inline-block;
	cursor: pointer;
	opacity: 0.75;
}

button:hover, .btn:hover, form > div > input[type=submit]:hover {
	background: <?= $interact_bg ?>;
	opacity: 1.0;
}

.btn-highlight {
	padding-bottom: 5px;
	background: <?= $interact_bg ?>;	
	border-bottom: 4px solid <?= $interact_bg ?>;
}

.btn-highlight:hover {
	background: <?= $interact_bg ?>;
}

.banner {
	padding: 12px;
	background: rgba(0,0,0,0.5);
}

.error {
	color: red;
}
