<?php

	$bg_color = '#111111';
	$layer_color = 'rgba(255,255,255,0.1)';
	$layer_color_hl = 'rgba(255,255,255,0.2)';
	$text_color = '#aaaaaa';
	$highlight = 'rgba(20,160,255,0.5)';

?>

@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-regular.ttf);
}
@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: default_font;
	src: url(../fonts/b612/b612-bold-italic.ttf);
	font-weight: bold;
	font-style: italic;
}
* {
	font-family: default_font;
	font-size: 11pt;
	box-sizing: inherit;
	line-height: inherit;
}
body {
	margin: 0px;
	padding: 0px;
	line-height: 1.0;
	box-sizing: border-box;
	background: <?= $bg_color ?>;
	color: <?= $text_color ?>;
}
a {
	color: white;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin-left: 12px;
}
nav > a {
	padding: 16px;
	display: inline-block;
	background: <?= $layer_color ?>;
	margin-right: 2px;
	color: <?= $text_color ?>;
	text-decoration: none;
}
nav > a:hover {
	background: <?= $layer_color_hl ?>;
}
#content {
	line-height: 1.8;
	margin: 12px;
	margin-top: 52px;
	padding: 12px;
	background: <?= $layer_color ?>;
	min-height: 480px;
}
#content > a {
	color: blue;
}
footer {
	text-align: center;
	color: rgba(255,255,255,0.25);
	margin-top: 32px;
}
h1 {
	margin-left: -12px;
	margin-right: -12px;
	margin-top: -12px;
	margin-bottom: 12px;
	padding: 12px;
	padding-top: 18px;
	font-weight: normal;
	line-height: normal;
	background: <?= $layer_color ?>;
}
button, .btn {
	padding:8px;
	padding-top: 10px;
	display: inline-block;
	background: <?= $layer_color ?>;
	color: white;
	border: none;
	border-bottom: 4px solid <?= $layer_color ?>;
	cursor: pointer;
}
button:hover, .btn:hover {
	background: <?= $layer_color_hl ?>;
	border-bottom: 4px solid <?= $highlight ?>;
}