.content-pane {
	position: fixed;
	left: 248px;
	top: 0;
	bottom: 0;
	right: 0;
	background: white;
}

.shortcut-bar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 48px;
}

.shortcut-bar > * {
	color: white;
	display: block;
	padding: 12px;
	text-align: center;
}

.shortcut-bar > a:hover {
	color: white;
	background: rgba(255,255,255,0.5);
}

.menu-bar {
	position: fixed;
	left: 48px;
	top: 0;
	bottom: 0;
	width: 200px;
	background: rgba(255,255,255,0.8);
}

.menu-bar > a {
	display: block;
	padding: 12px;
	padding-bottom: 10px;
	overflow: hidden;
	color: black;
	text-decoration: none;
}

.menu-bar > a:hover {
	background: rgba(0,55,155,0.5);
}

.menu-bar > a.active {
	background-color: white;
	font-weight: bold;
}

h1 {
	background: rgb(50,50,50);
	color: white;
	margin: -0px;
	padding: 12px;
}
