@font-face {
    font-family: default_font;
    src: url(fonts/b612/b612-regular.ttf);
}
@font-face {
    font-family: default_font;
    src: url(fonts/b612/b612-italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: default_font;
    src: url(fonts/b612/b612-bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: default_font;
    src: url(fonts/b612/b612-bold-italic.ttf);
    font-weight: bold;
    font-style: italic;
}
* {
  font-family: default_font;
  font-size: 9.5pt;
  box-sizing: inherit;
  line-height: inherit;
}
body {
  margin: 0px;
  padding: 0px;
  line-height: 1.4;
  box-sizing: border-box;
  background: rgba(0,50,200,0.9);
}