@font-face {
	font-family: default_font;
	src: url(fonts/b612/b612-regular.ttf);
}
@font-face {
	font-family: default_font;
	src: url(fonts/b612/b612-italic.ttf);
	font-style: italic;
}
@font-face {
	font-family: default_font;
	src: url(fonts/b612/b612-bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: default_font;
	src: url(fonts/b612/b612-bold-italic.ttf);
	font-weight: bold;
	font-style: italic;
}
* {
	font-family: default_font;
	font-size: 11pt;
	box-sizing: inherit;
	line-height: inherit;
}
body {
	margin: 0px;
	padding: 0px;
	line-height: 1.0;
	box-sizing: border-box;
	background: rgba(0,50,200,0.9);
	color: white;
}
a {
	color: yellow;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
}
nav > a {
	padding: 16px;
	display: inline-block;
	background: rgba(0,0,0,0.5);
	margin-right: 2px;
	text-decoration: none;
}
nav > a:hover {
	background: rgba(50,155,255,0.75);
}
#content {
	line-height: 1.8;
	margin: 12px;
	margin-top: 52px;
	padding: 12px;
	background: white;
	color: rgba(0,0,0,0.75);
	min-height: 480px;
}
#content > a {
	color: blue;
}
footer {
	text-align: center;
	color: rgba(255,255,255,0.5);
	margin-top: 32px;
}